<html>
  <head>
    <title>Louis Braquet | About Me</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/mainalt.css">
  </head>
  <body>
    <div class="menu">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/artgallery">Art Gallery</a></li>
        <li><a href="/forsale">For Sale</a></li>
        <li><a href="/commissions">Commissions</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/aboutme">About Me</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><% if (!user) { %>
	       <a href="/login"><span class="glyphicon glyphicon-user"></span> Commission Login</a>
        <% } else { %>
	       <a href="/profile"><%= user.username %>'s Current Commissions</a>
        <% } %></li>
        <li><% if (user) { %>
            <a href="/logout">Log out</a>
        <% } %></li>
      </ul>
    </div>
    <div class="nav">
      <div class ="container">
        <h1 id="navheading">Louis Braquet</h1>
	      <div class="icon-menu"><span class="glyphicon glyphicon-menu-hamburger"></span></div>
	    </div>
    </div>
    <div class="content">
      <div class="description">
        <h3>Art Gallery</h3>
        <p>A selection of works both past and present.</p>
      </div>              
      <div class="slider-nav">
        <a href="#" class="arrow-prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
        <ul class="slider-dots">
          <li class="dot active-dot">&bull;</li>
          <li class="dot">&bull;</li>
          <li class="dot">&bull;</li>
          <li class="dot">&bull;</li>
        </ul>
        <a href="#" class="arrow-next"><span class="glyphicon glyphicon-chevron-right"></span></a>
      </div> 
      <div class="slider">

		    <div class="slide active-slide">
          <div class="container">
            <div class="row">
              <div class="slide-copy col-sm-5">
                <h1>"Timekeeper"</h1>
                <p>2015.</p>
              </div>
              <div class="slide-img col-sm-7">
                <img src="http://41.media.tumblr.com/1966336e4552be57c81cdcf701176d08/tumblr_n5ap8dUxre1ru9006o1_500.jpg">
              </div>
            </div>
          </div>      
        </div>

        <div class="slide">
          <div class="container">
            <div class="row">
              <div class="slide-copy col-sm-5">
                <h1>"Joan Crawford"</h1>
                <p>2015.</p>
              </div>
              <div class="slide-img col-sm-7">
                <img src="http://41.media.tumblr.com/95d14b0155424dbfc4c1f9489bca3ab1/tumblr_myrr8kVfR01ru9006o1_500.jpg">
              </div>
            </div>
          </div>      
        </div> 
  
        <div class="slide">
          <div class="container">
            <div class="row">
              <div class="slide-copy col-sm-5">
                <h1>"Danae"</h1>
                <p>2015.</p>
              </div>
              <div class="slide-img col-sm-7">
                <img src="http://40.media.tumblr.com/2e833a9e9229650b30a0023179280e4c/tumblr_n5an21XQv11ru9006o1_400.jpg">
              </div>
            </div>
          </div>      
        </div> 
  
        <div class="slide">
          <div class="container">
            <div class="row">
              <div class="slide-copy col-sm-5">
                <h1>"Pandora"</h1>
                <p>2015.</p>
              </div>
              <div class="slide-img col-sm-7">
                <img src="https://igcdn-photos-e-a.akamaihd.net/hphotos-ak-xpa1/t51.2885-15/1391328_1645306602357804_975551219_n.jpg">
              </div>
            </div>
          </div>      
        </div> 

      </div>


    </div>
    <script src="js/carouselapp.js"></script>
    <script src="js/menu.js"></script>
  </body>
</html>